# Игнорировать виртуальную среду
venv/

# Игнорировать папку кэша Python
__pycache__/

.idea/

example/

# Игнорировать файлы сертификатов
*.crt
*.csr
*.key
*.db


# Игнорировать логи
*.log
Докумантация\git_Comands
# Игнорировать временные файлы редакторов
*.swp


backend/static
backend/templates




# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
