# Игнорировать виртуальную среду
venv/

# Игнорировать папку кэша Python
__pycache__/

.idea/

example/

# Игнорировать файлы сертификатов
*.crt
*.csr
*.key

# Игнорировать логи
*.log
Докумантация\git_Comands
# Игнорировать временные файлы редакторов
*.swp
