/* static/css/login.css */

/* Основные стили для страницы логина */
body {
    font-family: Arial, sans-serif;
  background-image: linear-gradient(
    15deg,
    hsl(55deg 90% 48%) 0%,
    hsl(65deg 87% 45%) 21%,
    hsl(76deg 83% 42%) 33%,
    hsl(86deg 79% 40%) 41%,
    hsl(96deg 76% 37%) 47%,
    hsl(107deg 72% 34%) 51%,
    hsl(117deg 69% 31%) 55%,
    hsl(126deg 65% 28%) 58%,
    hsl(137deg 63% 25%) 61%,
    hsl(147deg 58% 22%) 64%,
    hsl(158deg 55% 19%) 68%,
    hsl(169deg 52% 16%) 74%,
    hsl(178deg 48% 14%) 96%
  );
    /*    background-color: #6c6868;*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-button {
    display: block;
    width: 100%;
    padding: 12px;
  background-image: linear-gradient(
    15deg,
    hsl(86deg 84% 66%) 21%,
    hsl(65deg 91% 78%) 7%,
    hsl(75deg 87% 72%) 14%,
    hsl(86deg 84% 66%) 21%,
    hsl(96deg 79% 60%) 27%,
    hsl(106deg 75% 54%) 34%,
    hsl(116deg 72% 48%) 40%,
    hsl(127deg 68% 43%) 47%,
    hsl(137deg 64% 37%) 54%,
    hsl(147deg 59% 31%) 61%,
    hsl(158deg 56% 25%) 69%,
    hsl(168deg 52% 19%) 79%,
    hsl(178deg 48% 14%) 100%
  );
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
