<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ current_folder }}</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ current_folder }}</h1>
        <div class="buttons">
            {% if subpath %}
                <a class="button back" href="{{ url_for('index', subpath=os.path.dirname(subpath)) }}">Back</a>
            {% endif %}
            {% if subpath %}
                <a class="button download-folder" href="{{ url_for('download_folder', folderpath=subpath) }}">Download Current Folder</a>
            {% else %}
                <a class="button download-folder" href="{{ url_for('download_folder', folderpath='') }}">Download Root Folder</a>
            {% endif %}
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="upload-form">
                <input type="hidden" name="subpath" value="{{ subpath }}">
                <input type="file" name="file" id="file-input" hidden>
                <label for="file-input" class="button upload-button">Choose File</label>
                <button type="submit" class="button upload-submit">Upload</button>
            </form>     
                 
            <!-- Folder creation form -->
            <form action="{{ url_for('create_folder') }}" method="post" class="create-folder-form">
                <input type="hidden" name="subpath" value="{{ subpath }}">
                <input type="text" name="folder_name" placeholder="New folder name" required>
                <button type="submit" class="button create-folder-submit">Create Folder</button>
            </form>

            <!-- Button to open encode.html in a new window -->
            <a class="button open-file" href="{{ url_for('open_encode') }}" target="_blank">Decode file</a>
            <a class="button log out" href="{{ url_for('logout') }}" target="_blank">Log out</a>

            <script>
                function openFile() {
                    window.open('{{ url_for("static", filename="encode.html") }}', '_blank');
                }
            </script>
        </div>
        <div class="file-list">
            <ul>
                {% for item in items %}
                    <li class="{{ 'folder' if item.is_dir else 'file' }}">
                        <div class="file-info">
                            <div class="file-name">
                                {% if item.is_dir %}
                                    <a href="{{ url_for('index', subpath=item.path) }}">{{ item.name }}/</a>
                                {% else %}
                                    <a href="{{ url_for('download_file', filepath=item.path) }}">{{ item.name }}</a>
                                {% endif %}
                            </div>
                            {% if not item.is_dir %}
                                <div class="file-size">
                                    {{ item.size_mb }} MB
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
