<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
    <title>Settings</title>
</head>
<body>
    <div>
        <h1>Settings</h1>
        <p>Welcome, {{ username }}!</p>

        <form method="POST">
            <!-- Выбор пользователя по user_id -->
            <label for="selected_user_id">Выберите пользователя:</label>
            <select name="selected_user_id" id="selected_user_id">
                <option value="">Текущий пользователь</option>
                {% for user in users %}
                    <option value="{{ user[0] }}">{{ user[0] }}</option>
                {% endfor %}
            </select>
            <br><br>
            
            <!-- Change username -->
            <label for="new_username">Новое имя пользователя:</label>
            <input type="text" name="new_username" id="new_username">
            <br><br>
            
            <!-- Change password -->
            <label for="new_password">Новый пароль пользователя:</label>
            <input type="password" name="new_password" id="new_password">
            <br><br>

            <!-- Change admin name -->
            <label for="new_admin_name">Новое имя админа:</label>
            <input type="text" name="new_admin_name" id="new_admin_name">
            <br><br>

            <!-- Change admin password -->
            <label for="new_admin_password">Новый пароль админа:</label>
            <input type="password" name="new_admin_password" id="new_admin_password">
            <br><br>

            <!-- Change encryption mode -->
            <label for="encryption_mode">Активировать шифрование:</label>
            <select name="encryption_mode" id="encryption_mode">
                <option value="1">Да</option>
                <option value="0">Нет</option>
            </select>
            <br><br>
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
</body>
</html>
